<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
 <%= link_to "Back to News", posts_path %>
 <% if user_signed_in? %>
 <% if current_user.id == @post.user_id %>
 <%= link_to "Edit this News", edit_post_path(@post) %> |
 <%= button_to "Destroy this News", @post, method: :delete %>
 <% end %>
 <% end %>
</div>

